<a href="https://colab.research.google.com/github/M-Dinesh-14/practice_test/blob/main/basic_test_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) What is python and why it is popular?

 python is object-oriented langunge and the langunge is used to understand easy read and write the program easy. python langunge it simlier to  english langunge.
  * we mainly use python langunge because the python is esaly understand and easly read and write the program. it will convert easly to mechine langunge.

2) What is an IDE and name a few popular Python IDEs?

IDE is defind as Integrated Development Environment, is a software application that combines many tools for writing, testing, and debugging code into one place.

 IDEs can increase programmer productivity by streamlining the development process.
 # python ide's are:-
* google coolab
* juypter
* spyder

3) What are the rules for naming variables in python?

A)
   *  the variable will starts with alphabits.
   * it should not start with numbers
   * we can't use keywords .
   * it is case senstive.
   * can't use speacl charecter expeat(_)

4)  How do you assign multiple values to multiple variables in a single line?

A)
  * yes we can assig multiple values in multiple variables ina a single line by using mutli to mutli varible
  
  there are two types

  * single line
  * multi line
  
   1) multi to single.

   2) multi to multi

In [ ]:
(a,b,c)=(1,2,3)
print(a,b,c)

1 2 3

 5) Can you use Python keywords as variable names? Why or why not?

  * No we can not use keyword as variable name.becaues if we use the keyword of variable the progarm can't access the varible
  * the variable can use only alphabits
  * we can use only one specil charcter (-)
  * it agients the rule of creating a variable.

6) Why are comments important in programming?

A)
  the comments is used to defined the code of the program.
  
  by the comments we can easly understand the others code and easly convert in to our program.

In [ ]:
a= 10
b= 20
# using addition to add the to variables
c= a+b
print(c)

30

7) What are the basic data types in Python?

A) the basic data types are 4-type

  there are- integer,float,complex,boolen.

In [ ]:
#Integer- number or digits.
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [ ]:
#float- decimal numbers
a=(1.34)
print(type(a))

<class 'float'>

In [ ]:
#complex-(real+imger values)
a= 2+8j
print(type(a))

<class 'complex'>

In [ ]:
#boolen-(ture or flase)
a=20
b=(10)
c=(a<b)
print(c)
print(type(c))

False
<class 'bool'>

8) How do you convert a string to an integer in Python?

  by use the built-in int() function to convert a Python string to an integer.

In [7]:
a=("13")
a=int(a)
print(a)
print(type(a))

13
<class 'int'>

9) What is the difference between int and float?

  the int -is used to identify the number in the variables
  the float- is used to identify the decimal numbers in a variables.

In [ ]:
a= 30
print(type(a))
b= 2.6
print(type(b))

<class 'int'>
<class 'float'>

10) How do you check the data type of a variable?
 we can check the data type are a varible by using type funtion()

  by the type() funtion we can check the where the variable is a data type are not.

In [ ]:
a=(2,3,4)
print(type(a))
b= 2.6
print(type(b))
e=20
d=(10)
c=(e<d)
print(c)
print(type(c))

<class 'tuple'>
<class 'float'>
False
<class 'bool'>

11) How do you add an element to a list?

   we can add a element by using append() operater

   by using append() we can add element in end of list.

In [ ]:
a=[1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

12) How do you create a tuple with one element?

   it will store the elements.
 * the tuple is defind by().
  
* it immutable .
* unorder sequnces

In [ ]:
a=(1,2,34,5)
print(type(a))

<class 'tuple'>

14) How do you access elements in a list?
  
   to access the elements to the list we use different mathods to access the element
    * the mathods are append(),copy(),remove(),revers(),pop(),sort(),max(),min(),

In [8]:
a=(1,2,3)
a=list(a)
print(a)

[1, 2, 3]

15) How do you access a character in a string?

* individual characters of a String can be accessed by using the method of Indexing.
* Indexing allows negative address references to access characters from the back of the String.
* While accessing an index out of the range will cause an IndexError.
* Only Integers are allowed to be passed as an index, float or other types that will cause a TypeError.

17) What is a tuple and how is it different from a list?

* tuple is a list in an ordered collection of items,tThey are immutable, as once they are created they cannot be changed.
* They can also contain duplicate element
* list are unorered and can be mutable and if they are created they can be changed.

18) How do you concatenate two tuples?
* combing the two tuples

In [9]:
a=(1,2,3,4)
b=(3,6,4,3)
c=a+b
print(c)

(1, 2, 3, 4, 3, 6, 4, 3)

22) How do you add an element to a set?
 * Sets are used to store multiple items in a single variable

In [10]:
a={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

23) How do you remove an element from a set?
 * by using dicard method we can remove the element in set.

In [11]:
a={1,2,3}
a.discard(2)
print(a)

{1, 3}

24)  What are the common set operations in Python?
 * union
 * intersection
 * difference
 * set_symmetric_difference

25) Write a Python program to find the index of an element in a tuple?

   * index:- it used to find the position of the element or items

In [13]:
a=(1,2,3,4)
a.index(2)

1