<a href="https://colab.research.google.com/github/M-Dinesh-14/practice_test/blob/main/practice4_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

prime

In [ ]:
class prime:
  def __init__(self,num):
    self.num = num
    if num > 1:
      for i in range(2, int(num/2) + 1):
        if (num % i) == 0:
          print(num,"is not a prime number")
          break
      else:
        print(num,"is a prime number")
num = int(input("enter the number"))
prime(num)

enter the number8
8 is not a prime number

patten

In [ ]:
class patten:
  def __init__(self,num):
    self.num = num
    for i in range(1,num+1):
      for j in range(1,i+1):
        print(j,end=" ")
      print()

In [ ]:
user = int(input("enter the number"))
patten(user)

enter the number5
1
12
123
1234
12345

convert celsius to fahrenit.

In [ ]:
class celsius:
  def __init__(self,num):
    self.num = num
    celsius = (num*9/5)+32
    print(num)
num = float(input("enter the celsius"))
celsius(num)

enter the celsius55
55.0

simple interest

In [ ]:
class simple_interest:
  def __init__(self,num,num1,num2):
    self.num = num
    self.num1 = num1
    self.num2 = num2
    simple_interest = (num*num1*num2)/100
    print(simple_interest)
num = int(input("enter the principal amount"))
num1 = int(input("enter the rate of interest"))
num2 = int(input("enter the time period"))
simple_interest(num,num1,num2)

enter the principal amount56
enter the rate of interest40
enter the time period4
89.6

integer into decimal number?

In [ ]:
class integer:
  def __init__(self,num):
    self.num = num
    a=float(num)
    print(a)
num = int(input("enter the number"))
integer(num)

enter the number34
34.0

number amstrong or not

In [ ]:
class armstrong:
  def __init__(self,num):
    self.num = num
    a = num
    sum = 0
    temp = num
    while temp > 0:
      digit = temp % 10
      sum += digit ** 3
      temp //= 10

    if sum == a:
      print(" is armstrong")
    else:
      print(" is not armstrong")

num = int(input("enter the number"))
armstrong(num)

enter the number153
 is armstrong

 duplicate numbers form the list

In [ ]:
class duplicate:
  def __init__(self,list):
    self.list = list
    list1 = []
    for i in list:
      if i in list1:
        continue
      else:
        list1.append(i)
    print(list1)

list = [1,2,3,3,2,4,1,2,3]
duplicate(list)

[1, 2, 3, 4]

character is digit not

In [ ]:
class character:
  def __init__(self,char):
    self.char = char
    for i in char:
      if i.isdigit():
        print(i," = is digit")
      elif i.isalpha():
        print(i," = is alpha")
char = input("enter the number:")
character(char)

enter the number:d29
d  = is alpha
2  = is digit
9  = is digit

GCD of two numbers

In [ ]:
class gcd:
  def __init__(self,a,b):
    self.a = a
    self.b = b
    while b != 0:
      a, b = b, a % b
    print(a)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
gcd(num1,num2)

Enter the first number: 23
Enter the second number: 21
1

 Replace character in place of space?

In [ ]:
class replace:
  def __init__(self,a,b):
    self.a = a
    self.b = b
    replacing_c = b.replace(" ", a)
    print(replacing_c)

a = input("Enter the string: ")
b = input("Enter the replacing character: ")
replace(a,b)

Enter the string: 23
Enter the replacing character: 76
76

Swap 2 numbers

In [ ]:
class swap:
  def __init__(self,a,b):
    self.a = a
    self.b = b
    a,b=b,a
    print(a,b)

a=input("enter the number")
b=input("enter the number")
swap(a,b)

enter the number23
enter the number45
45 23

 add 2 numbers

In [ ]:


class add:
  def __init__(self,sum):
    self.sum = sum
    total=sum([a,b])
    print(f"3 {total}")

a=int(input("enter the number"))
b=int(input("enter the number"))
add(sum)

enter the number3
enter the number3
3 6

first non repeating occurence.

In [ ]:
class nonrepeating:
  def __init__(self,a):
    self.a = a
    for i in a:
      if a.count(i)==1:
        print(f'{i} is the first non-repeating of the string')

a = input("Enter the string: ")
nonrepeating(a)

Enter the string: 121
2 is the first non-repeating of the string