<a href="https://colab.research.google.com/github/M-Dinesh-14/practice_test/blob/main/practice3_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) write a python program to display the food iteams veg and non veg to user and also display if there no food iteams print we are not serving the food

In [ ]:
user = input("enter the food iteam ")
name = ("vamsi restaurent")
print(name)
veg_list = ['Palak paneer','Paneer tikka','Dal Makhani']
non_veg_list = ['Butter chicken','Tandoori chicken','Mutton curry']
def food(user):
  if user in veg_list:
    print(f'yes we have {user} and also we have other food items in veg ')
    for x in veg_list:
      print(x)
  elif user in non_veg_list:
    print(f'yes we have {user} and  also we have other food items in non_veg ')
    for x in non_veg_list:
      print(x)
  else:
    print("no we do not serve this food")
food(user)

enter the food iteam Palak paneer
vamsi restaurent
yes we have Palak paneer and also we have other food items in veg
Palak paneer
Paneer tikka
Dal Makhani



---



---

2) write a python program to check the number is prime or not by using funtions.

In [ ]:
def prime():
  num = int(input("enter the number"))
  if num > 1:
    for i in range(2, int(num/2) + 1):
      if (num % i) == 0:
        print(num,"is not a prime number")
        break
    else:
      print(num,"is a prime number")
prime()

enter the number3
3 is a prime number

3) print the following number pattern.

In [ ]:
user = int(input("enter the number"))
for i in range(1,user+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter the number5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

4) write a python program to convert celsius to fahrenit.

In [ ]:
user= float(input("enter the celsius"))# to convert celsius to fahrenit
celsius = (user*9/5)+32
print(celsius)

enter the celsius40
104.0

5) write a python program to calculate simple interest.

In [ ]:
user = int(input("enter the principal amount"))
user1 = int(input("enter the rate of interest"))
user2 = int(input("enter the time period"))
simple_interest = (user*user1*user2)/100
print(simple_interest)

enter the principal amount5000
enter the rate of interest2
enter the time period12
1200.0

6) convert integer into decimal number?

In [ ]:
number = 56
a=float(number)
print(a)

56.0

7) write a program to check the number amstrong or not ?.

In [ ]:

user = int(input("enter the number"))

a = user
sum = 0
while user > 0:
  rem = user % 10
  sum = sum + (rem * rem * rem)
  user = user // 10
if sum == a:
  print("number is amstrong")
else:
  print("number is not amstrong")

enter the number153
number is amstrong

8) to remove duplicate numbers form the list ?

In [ ]:
list = [1,2,3,3,2,4,1,2,3]
list1 = []
for i in list:
  if i in list1:
    continue
  else:
    list1.append(i)
print(list1)

[1, 2, 3, 4]

9) write a program to check the character is digit not?

In [ ]:
char = input("enter the number:")
for i in char:
  if i.isdigit():
        print(i," = is digit")
  elif i.isalpha():
        print(i," = is alpha")

  else:
        print("Error")

enter the number:dinesh123
d  = is alpha
i  = is alpha
n  = is alpha
e  = is alpha
s  = is alpha
h  = is alpha
1  = is digit
2  = is digit
3  = is digit

11) write a program to GCD of two numbers?

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    print(a)


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = gcd(num1, num2)

Enter the first number: 23
Enter the second number: 56
1

12) write a python program to Replace character in place of space?

In [ ]:
a = input("Enter the string: ")
b = input("Enter the replacing character: ")

replacing_c = b.replace(" ", a)

print(replacing_c)

Enter the string: nani
Enter the replacing character: chinnu
chinnu

13) write a python program Swap 2 numbers without using third parameter?

In [ ]:
a=input("enter the number")
b=input("enter the number")
a,b=b,a
print(a,b)

enter the number2
enter the number3
3 2

14) write a python program to add 2 numbers without using any arithmetic operator?

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
num=sum([a,b])
print(f"3 {num}")

enter the number2
enter the number3
 5

15) write a python program first non repeating occurence.

In [ ]:
a = input("Enter the string: ")
for i in a:
    if a.count(i)==1:
        print(f'{i} is the first non-repeating of the string')
        break
else:
    print(f"There are no first non-repeating")

Enter the string: 121
2 is the first non-repeating of the string